@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Style for the navbar */
.navbar {
    background-color: #020203; /* Navbar background color */
    color: white; /* Text color */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Center items vertically */
    padding: 10px 20px;
    top: 0%;
    left: 0%;
    
}

#submit-button{
    background-color: #0077b6;
    font-size: 18px;
}

.boxi{
    background-image: url("../assets/bougie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh; 
}


/* Style for the logo */
#logo {
    height: 40px; /* Set the height of the logo */
    background-color: black;
}

/* Style for the navigation links */
.nav-links {
    list-style-type: none; /* Remove default list styles */
    display: flex; /* Use flexbox for layout */ 
    justify-content: space-around;  
}

/* Style for anchor tags within navigation items */
.nav-links a {
    text-decoration: none; /* Remove underline */
    color: #B3B3B3; /* Set default text color */
    font-weight: bold;
    font-size: 24px;
}

/* Style for hover effect on navigation items */
.nav-links li:hover a {
    text-decoration: solid;/* Underline on hover */
    color: #009046; /* Change text color on hover */
}

.nav-links li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #B3B3B3;
    transition: 0.6s all;
}

.nav-links li a:hover::after{
    width: 100%;
}


.nav-links li{
    margin-right: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    box-sizing: border-box;
}

h1 {
    color: #f8f8f8; /* Dark text color */
    font-family: 'Poppins', sans-serif; /* Font family */
    font-weight: bold; /* Bold text */
    font-size: 68px; /* Large font size */
    text-align: center; /* Center align text */
    text-transform: uppercase; /* Uppercase text */
    margin-top: 50px; /* Add some top margin for spacing */
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5); /* Text shadow for depth */
    letter-spacing: 2px; /* Increase letter spacing for emphasis */
    line-height: 1.2; /* Increase line height for readability */
    transition-duration: 1s;
    transition-delay: 0.1s;
    margin-top: 40px;


}

/* Hover effect */
h1:hover {
    color: #ffcad4; /* Change text color on hover */
}



.logo {
    width: 150px; 
    height: auto;
    margin-top: 2%; 
    padding: 5px; 
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
    background-color: #ffffff;
}

.heading {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    margin-top: 20px;
    color: #000;
}

.search-box {
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #000;
    font-size: 1.5em;
    background-color: #fefae0; /* White background color for the search box */
}

/* Style the dropdown items */
.search-container .dropdown-menu a {
    color: black;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.search-container .dropdown-menu:hover{
    cursor: pointer;
}

/* Style the dropdown items on hover */
.search-container .dropdown-menu a:hover {
    background-color: #f1f1f1;
}

/* Style the next button */
.next-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    background-color: #73cac9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.next-button:hover{
    background-color: #A2D2FF;
    transform: translate(180px,100px);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s, box-shadow 0.3s;
        
}

#ingredients-button{
    background-color: #0077b6;
}

#allergen {
    margin: 20px 0;
}

#ingredients-info {
    margin: 20px 0;
    border: #000 1px solid;
}

#ingredients-info p {
    font-size: 16px;
}

/* Adjust styles for smaller screens */
@media only screen and (max-width: 768px) {
    /* Adjust navbar padding for smaller screens */
    .navbar {
        padding: 10px; /* Reduce padding */
    }

    /* Adjust logo size for smaller screens */
    .logo {
        height: 20px; /* Reduce height of the logo */
    }

    /* Adjust font size for navigation links for smaller screens */
    .nav-links a {
        font-size: 18px; /* Reduce font size */
    }

    /* Adjust margin-right for navigation links items for smaller screens */
    .nav-links li {
        margin-right: 10px; /* Reduce margin */
    }

    div.search-container {
        margin-left: 15px;
        margin-right: 15px;
    }


    /* Adjust font size for h1 heading for smaller screens */
    .row h1 {
        font-size: 25px; /* Increase font size for smaller screens */
        margin-top: 15px;
    }

    .nav-links a {
        text-decoration: none; /* Remove underline */
        color: #B3B3B3; /* Set default text color */
        font-weight: bold;
        font-size: 12px;
    }
    .nav-links li{
        margin-right: 14px;
    }
}

.footer{
    background-color: #020203; /* Navbar background color */
    color: white; /* Text color */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Center items vertically */
    padding: 10px 20px;
    top: 0%;
    left: 0%;
}
.footer a{
    text-decoration: none;
    margin-right: 20px;
}

.footer p{
    margin: auto 0;
}